vendor/
composer.lock
composer.phar

*.iws
*.launch
.externalToolBuilders/
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/

build/logs/
*.log

.DS_Store
Thumbs.db
desktop.ini
